/* .navbarOutter .navContainer .navInner .navLinkStyles {
    color: purple !important;
    font-weight: bold;
}

.navbarOutter .navContainer .navLogo {
    color: purple !important;
    font-weight: bold;
}

.navbarOutter {
    color: purple !important;
    font-weight: bold;
} */