.coral-data{
    margin: 0 auto;
    
    align-items: center;
  }
  
  img.small{
      max-height: 14rem;
      width: 16rem;
      margin: auto;
      border: 1px solid black;
  }
  
  
  .coral-data-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto

  }
  
  .coral-data-price {
    color: black;
  }

  .catalog-button {
    background-color: #5f43b2 !important;
    margin: 1rem;
  }
  