.homepage {
  color:#5f43b2;
  margin: 0 auto;
  height:auto;
}

.home-head {
  margin-top: 3rem;
}

.lead {
  margin-bottom: 3rem;
}

.catalog {
    background-color: #e6dde6;
    border-radius: .5rem;
    box-shadow: 0 0 10px #fd2bff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
  }

  .btn {
    background-color: #5f43b2 !important;;
  }

  .welcome-back {
    margin: 3rem;
  }

  .login {
    margin: 3rem;
  }

  .signup {
    margin: 3rem;
  }