.cart {
  color:#5f43b2;
  margin: 1rem;
}

.empty-cart {
  color:#5f43b2;
  font-weight: bold;
  font-size: 2rem;
}

.empty {
  margin: 2rem;
}

.nem {
  box-shadow: 0 0 10px #fd2bff;
  margin: auto;
}

table {
  align-items: center;
  box-shadow: 0 0 7px #fd2bff;
  margin-top: 2rem;
}

thead {
  color: #5f43b2 !important;
}

tbody td {
  color: #e6dde6;
  text-align: center;
}

.table-bordered {
  border:3px #5e0fff !important;
}

.table-btn {
  background-color: #5f43b2 !important;
  outline: none !important;
}

.remove-btn {
  background-color: #fe3218 !important;
  outline: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    align-items: center;
    margin-right: 4rem;
    color: #010101;
  }
  .col-2 {
    align-items: center;
    margin-left: 4rem;
    color: #010101;
    
  }
  .block {
    background-color: #e6dde6;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }

  .row-button {
    text-align: center;
  }

  .check-btn {
    background-color: #5f43b2 !important;
    outline: none !important;
    padding: 3rem !important;
  }
